@import '../../vars.css';

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    z-index: 2;
    margin: 5% 10%;
    width: 100%;
    max-width: 1000px;
  
  }

.features{
    display: flex;
    flex-direction: row;
}

.img1{
    width: 50%;
    margin-left: 0px ;
}

.title{
    color: var(--color-primary);
}

.heading{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 25px;
}

.point{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.itemFeature{
   font-size: 18px;
   font-weight: 600;
}

.featureDescription{
    font-weight: lighter;
    margin-bottom: 30px;
}


.point2{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.advantages{
    display: flex;
    flex-direction: row;
}

.point3{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

@media  screen and (max-width:830px) {
   .features{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .content{
    margin-right: 40px;
    margin-left: 40px;
   }

   .img1{
    display: none;
   }
    
 }

 @media  screen and (max-width:990px) {
    .features{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
 
    .content{
     margin-right: 100px;
     margin-left: 100px;
    }

    .img1{
        display: none;
       }
     
  }